<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <title>Cambio de contraseña</title>
    </head>
    <body>
        <div>
            <?= $this->Form->create($user) ?>
            <fieldset>
                <legend class="text-center"><?= 'Cambio de contraseña' ?></legend>
                <?php
                    echo $this->Form->input('passwordAntigua', array('label' => 'Contraseña actual', 'type' => 'password'));
                    echo $this->Form->input('passwordNueva', array('label' => 'Contraseña nueva', 'type' => 'password'));
                    echo $this->Form->input('passwordNuevaB', array('label' => ' Confirmar contraseña nueva', 'type' => 'password'));
                ?>
            </fieldset><br>
            <?= $this->Html->link(__('Cancelar'), $this->request->referer(), ['class' => 'right btn btn-lg btn-danger', 'style' => 'margin-left: 10px;'])?>
            <?= $this->Form->button(__('Guardar'), array('class' => 'right btn btn-lg btn-success'))?>
            <?= $this->Form->end() ?>
        </div>
    </body>
</html>